@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro'), url(/fonts/SourceSansPro/SourceSansPro-ExtraLight.woff2) format('woff2');
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro'), url(/fonts/SourceSansPro/SourceSansPro-Light.woff2) format('woff2');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro'), url(/fonts/SourceSansPro/SourceSansPro-Regular.woff2) format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro'), url(/fonts/SourceSansPro/SourceSansPro-Italic.woff2) format('woff2');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro'), url(/fonts/SourceSansPro/SourceSansPro-SemiBold.woff2) format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro'), url(/fonts/SourceSansPro/SourceSansPro-Bold.woff2) format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro'), url(/fonts/SourceSansPro/SourceSansPro-Black.woff2) format('woff2');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

.backface-off {
  backface-visibility: hidden;
}

body {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;

  /* prevents content shifting when vertical scroll bar appears/disappears */
  overflow-y: overlay;

  /* fixes mobile nav bar extending width */
  overflow-x:hidden;

  /* fixes long links extending the page width on mobile such as on changelog page */
  overflow-wrap: break-word;

/* removes highlight of button press on mobile */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-display: optional;

}

.mobile-menu-inactive {
  left: -100%;
  transition: 750ms;
  transition-timing-function: ease-in;
}

.mobile-menu-active {
  left:0;
  transition: 400ms;
  transition-timing-function: ease-out;
}
