.backface-off {
  backface-visibility: hidden;
}

/* prevents content shifting when vertical scroll bar appears/disappears */
html {
  overflow-y: overlay;
}

/* fixes long links extending the page width on mobile such as on changelog page */
body {
  overflow-wrap: break-word;
}